body{
  font-family:sans-serif;
}

.box-login{
  border:5px solid #ccc;
  width:300px;
  margin:50px auto;
  padding:10px 20px;
  border-radius:3px;
  box-shadow:20px 15px 10px #ccc;
}

.box-form input{
  width:100%;     
  padding: 10px;
  font-size: 11pt;
  box-sizing : border-box;
  margin : 10px 0px;
}

.box-form label{
  font-weight:bold;
}

.tombol-login{
  background : #64ff31;
  width:100%;
  padding:10px;
  margin:10px 0px;
  border:3px solid #3131ff;
  border-radius:3px;
  color:white;
}